nav {
	padding: 2vh;
	margin-bottom: 1vh;
}

#jumbotron {
	margin-top: 10vh;
}

.content {
    margin: 0vw 5vw 0vw 5vw;
}

#byttpassordCard {
	margin: 0vw 5vw 0vw 5vw;
}

#studentCard {
	width: 70vh;
	height: 90vh;
}

#foreleserCard {
	width: 70vh;
	height: 90vh;
}

#studentReg {
	width: 70vh;
	height: 90vh;
}

#foreleserReg {
	width: 70vh;
	height: 90vh;
}


input {
	margin-bottom: 2vh;
}

.course {
	margin-bottom: 10vh;
}

#login_card {
	width: 60vh;
	height: 40vh;
	margin-top: 5vh;
}

#header {
	margin-bottom: 10vh;
}

#adminText {
	margin-right: 4vh;
	margin-top: 1vh;
}

#studentText {
	margin-right: 4vh;
	margin-top: 1vh;
}

#ProfInfoCard {
	margin-top: 5vh;
	width: 60vh;
	height: 50vh;
}

#courseInfoCard {
	margin-top: 5vh;
	width: 60vh;
	height: 50vh;
}

